h1 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position
}
#tigerImage {
    display: inline-block;
    width: 15rem;
    text-align: center;
    vertical-align: middle;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}